.grid-container {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}    

body{
    background-color: #ffef00;
}

.card {
    background-color: #f8f9fa;
    border: 4px solid black;
    border-radius: 10px;
    overflow: visible; 

    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.875rem;
    color: black; 
    line-height: 1.4;
}

.form-control {
    border-radius: 5px;
}

.card.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px !important;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.user-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .suggestions-dropdown {
    position: absolute;
    width: calc(100% - 1000px);
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    top: 100%; 
    right: 150; 
    z-index: 12; 
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  
  .card-search{
    height: 400px;
    width: 300px;
    z-index: 10;
  }
  
  .card-home {
    padding: 10px;
    margin: 50px 100px 0 100px; 
    width: auto; 
    height: auto; 
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    overflow: visible; 
}

.footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer a {
    text-decoration: none;
    color: #333;
    font-size: 2em;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
  }
  
  .card-home img {
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    margin-bottom: 20px; 
    border-radius: 50%;
}
